<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlexImage.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WSWorkflowNF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FlexImage.WebService.Properties.Settings>
            <setting name="WSWorkflowNF_WorkflowNFWebReference_WorkflowNfWSService"
                serializeAs="String">
                <value>http://192.168.1.2:8080/senado2/Service/WorkflowNfService</value>
            </setting>
        </FlexImage.WebService.Properties.Settings>
        <WSWorkflowNF.Properties.Settings>
            <setting name="WSWorkflowNF_WorkflowNFWebReference_WorkflowNfWSService"
                serializeAs="String">
                <value>http://192.168.1.2:8080/flexdoc/Service/WorkflowNfService</value>
            </setting>
        </WSWorkflowNF.Properties.Settings>
    </applicationSettings>
</configuration>